{% extends 'base.html' %}
{% block content %}
<section class="ab-info-main py-md-5 py-4 editContent" style="padding-left: 3rem; padding-right: 3rem;">
    <div class="container-fluid py-md-3">
        <div class="row">
                    <div class="row">
                    {% include 'include/sidebar.html' %}
                    </div>
                        {% block receipts %}

                        {% endblock receipts %}
                    </div>
                </div>
        </div>
    </div>
</section>
{% endblock content %}